/* form styling  */
 
 .grey-box {
    position: relative;
    top: -8px;
    padding:40px;
    background-color: rgb(240, 241, 242);
 }
 
 .h1-container {
    position: relative; /* Fixed position to keep it in place */
    top: 50%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the container */
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }
  

  h1 {
    font-size: 50px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Adjust the margin to control spacing */
  }
  
  .h1p {
    font-size: 15px; /* Adjust the font size as needed */
    margin-top: 0; /* Remove default top margin to bring it closer to the <h1> */
  }
  


form {
    font-family: 'Quicksand', sans-serif;
}


input {
    position: absolute;
    right: 100px;
    border: 0px;
    width: 1000px;
    height: 25px;
  }

.submit-button {
	position: absolute;
    right: 100px;
    bottom: 5px;
    
}

.submit-button {
  background-color: #006eff;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.submit-button {
  background-color: #006eff; 
  color: white; 
}

.submit-button:hover {
  background-color: #e4f0ff;
  color: #006eff;
}



/* meme styling */

.meme-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.meme-image {
width: 400px;

}


.top-text,
.bottom-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.top-text {
    top: 10px;
}

.bottom-text {
    bottom: 10px;
}



.delete-button {
  position: relative;
  top: 20px;
  bottom: 50px;
  left: 220px;
  right: 0px;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(255, 237, 237);
  color: #cc0000;
 
}
